In [1]:
import pandas

In [2]:
raw_data = pandas.read_csv("reviews.csv")

In [4]:
df_agg = raw_data.groupby(['listing_id']).head(5)

In [5]:
df_agg

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,958,5977,2009-07-23,15695,Edmund C,"Our experience was, without a doubt, a five st..."
1,958,6660,2009-08-03,26145,Simon,Returning to San Francisco is a rejuvenating t...
2,958,11519,2009-09-27,25839,Denis,We were very pleased with the accommodations a...
3,958,16282,2009-11-05,33750,Anna,We highly recommend this accomodation and agre...
4,958,26008,2010-02-13,15416,Venetia,Holly's place was great. It was exactly what I...
...,...,...,...,...,...,...
319320,44570944,654405841,2020-08-21,11363570,HyunJoo,Ray was nice guy and friendly. \nHis place was...
319321,44570944,655724952,2020-08-23,16066401,Kathi,"Shared apartment, Ray is a nice host and the l..."
319328,44615683,656164407,2020-08-24,15108350,Sean,Great location. Spacious spot with a living ro...
319329,44966218,658735422,2020-08-30,118772578,Joaquin,This is such a great spot for a group of two c...
319330,45067263,660697348,2020-09-05,139787805,Caiseen,Darcy's space is lovely. We ran into some elec...

In [6]:
raw_data

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,958,5977,2009-07-23,15695,Edmund C,"Our experience was, without a doubt, a five st..."
1,958,6660,2009-08-03,26145,Simon,Returning to San Francisco is a rejuvenating t...
2,958,11519,2009-09-27,25839,Denis,We were very pleased with the accommodations a...
3,958,16282,2009-11-05,33750,Anna,We highly recommend this accomodation and agre...
4,958,26008,2010-02-13,15416,Venetia,Holly's place was great. It was exactly what I...
...,...,...,...,...,...,...
319326,44570944,660691423,2020-09-05,137112284,Selina,Great value for location! Ray was a very hospi...
319327,44570944,661311655,2020-09-06,11535319,Sarah,Ray is a great host! Would stay with him again!
319328,44615683,656164407,2020-08-24,15108350,Sean,Great location. Spacious spot with a living ro...
319329,44966218,658735422,2020-08-30,118772578,Joaquin,This is such a great spot for a group of two c...
319330,45067263,660697348,2020-09-05,139787805,Caiseen,Darcy's space is lovely. We ran into some elec...